#calculator{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 225px;
    gap: 10px;
    padding: 10px;
}

#solar-panel{
    display: flex;
    justify-content:flex-end;
    margin: 0px;
    padding: 0px;
}

#solar-panel .square{
    height: 16px;
    width: 8px;
    border: 2px solid black;
    background-color: rgba(12, 3, 3, 0.541);
    margin: 0px;
    padding: 0px;
}

#display{
    flex: 1;
    border: 2px solid black;
    padding: 10px;
    text-align: right;
    font-size: 18px;
    height: 25px;
    margin-top: 0px;
}

.clear{
    flex: 1;
}

.row{
    display: flex;
    gap: 10px;
}

button{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

button:hover{
    border: 1px solid grey;

}

button:active{
    border: 2px solid grey;
}
